---
import BaseLayout from "@/layouts/main.astro";
import {
  Empty,
  EmptyContent,
  EmptyDescription,
  EmptyHeader,
  EmptyMedia,
  EmptyTitle,
} from "@/components/ui/empty";

import { SearchX } from "@lucide/astro";
---

<BaseLayout title="P치gina no encontrada">
  <div class="flex items-center justify-center min-h-[70vh] py-16 px-4">
    <Empty>
      <EmptyHeader>
        <EmptyMedia variant="icon">
          <SearchX />
        </EmptyMedia>
        <EmptyTitle>P치gina no encontrada</EmptyTitle>
        <EmptyDescription>
          No hemos podido encontrar la p치gina que est치s buscando.
        </EmptyDescription>
      </EmptyHeader>
      <EmptyContent>
        <a
          href="/"
          class="inline-flex h-11 items-center justify-center rounded-lg bg-primary px-8 text-sm font-medium text-primary-foreground shadow-sm transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
        >
          Volver al inicio
        </a>
      </EmptyContent>
    </Empty>
  </div>
</BaseLayout>
