---
import { ChevronsLeftRightEllipsis } from "@lucide/astro";
import HeaderMenu from "./nav/HeaderMenu";

const navigation = [
  { name: "Inicio", href: "/" },
  { name: "Blog", href: "/blog" },
  { name: "Etiquetas", href: "/tags" },
  { name: "Acerca de", href: "/about" },
  { name: "Contacto", href: "/contact" },
];
---

<header
  class="sticky top-0 z-50 w-full border-b border-border bg-background/95 backdrop-blur supports-backdrop-filter:bg-background/60"
>
  <nav class="container mx-auto flex h-16 max-w-6xl items-center justify-between px-4">
    <a href="/" class="flex items-center gap-2 text-lg font-bold">
      <ChevronsLeftRightEllipsis />
      <span>DevLog</span>
    </a>

    <HeaderMenu items={navigation} client:load />
  </nav>
</header>
